html(lang="en")
    head
        link(rel="icon" href="/public/images/DietaryDetectiveLogo.ico")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Dietary Detective

        style(type="text/css").
            html {
                font-family: 'American Typewriter', sans-serif;
                font-weight: 400;
            }

            body {
                margin: 0;
                padding: 0;
            }

            #mainDiv {
                width: 100%;
            }
    body
        div#mainDiv
        script.
          window.__PRELOADED_STATE__ = !{state}
        script(src="/js/vendor.js")
        script(src="/js/main.js")
